<main>
  <section class="section sec2" id="about">
    <div class="main-title">
      <h2>ABOUT <span>ME</span></h2>
    </div>
    <div class="about-container">
      <div class="left-about">
        <h4>Information About me</h4>
        <p>
          I wrote my first line of code at age 25. Realizing I still maintain some passion & motivation for learning,
          I'm enjoying the journey and won't set a limit on it.
        </p>
        <div class="btn-con">
          <a href="https://www.yourator.co/r/798a0913-5b25-46b9-9e21-6ef795f81154" target="_blank" class="main-btn">
            <span class="btn-text">Download CV</span>
            <span class="btn-icon"><i class="fas fa-download"></i></span>
          </a>
        </div>
      </div>
      <div class="right-about">
        <div class="about-item">
          <div class="abt-text">
            <p class="large-text">JavaScript</p>
            <p class="small-text">Primary <br> Language</p>
          </div>
        </div>
        <div class="about-item">
          <div class="abt-text">
            <p class="large-text">React</p>
            <p class="small-text">Recently <br> Learned</p>
          </div>
        </div>
        <div class="about-item">
          <div class="abt-text">
            <p class="large-text">1+</p>
            <p class="small-text">Years <br> Learning</p>
          </div>
        </div>
        <div class="about-item">
          <div class="abt-text">
            <p class="large-text">5+</p>
            <p class="small-text">Projects <br> Practiced</p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-stats">
      <h4 class="stat-title">My Skills</h4>
      <div class="progress-bars">
        <div class="progress-bar">
          <p class="prog-title">html5</p>
          <div class="progress-con">
            <p class="prog text">70%</p>
            <div class="progress">
              <!-- 技能條灰色部分 -->
              <span class="html"></span> <!-- 技能條綠色部分 -->
            </div>
          </div>
        </div>
        <div class="progress-bar">
          <p class="prog-title">css3</p>
          <div class="progress-con">
            <p class="prog text">60%</p>
            <div class="progress">
              <span class="css3"></span>
            </div>
          </div>
        </div>
        <div class="progress-bar">
          <p class="prog-title">JavaScript</p>
          <div class="progress-con">
            <p class="prog text">70%</p>
            <div class="progress">
              <span class="javascript"></span>
            </div>
          </div>
        </div>
        <div class="progress-bar">
          <p class="prog-title">React</p>
          <div class="progress-con">
            <p class="prog text">50%</p>
            <div class="progress">
              <span class="react"></span>
            </div>
          </div>
        </div>
        <div class="progress-bar">
          <p class="prog-title">Node.js</p>
          <div class="progress-con">
            <p class="prog text">65%</p>
            <div class="progress">
              <span class="nodejs"></span>
            </div>
          </div>
        </div>
        <div class="progress-bar">
          <p class="prog-title">Express</p>
          <div class="progress-con">
            <p class="prog text">65%</p>
            <div class="progress">
              <span class="express"></span>
            </div>
          </div>
        </div>
        <div class="progress-bar">
          <p class="prog-title">MongoDB</p>
          <div class="progress-con">
            <p class="prog text">70%</p>
            <div class="progress">
              <span class="mongodb"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 class="stat-title">My Timeline</h4>
    <div class="timeline">
      <div class="timeline-item">
        <div class="tl-icon">
          <i class="fas fa-graduation-cap"></i>
        </div>
        <p class="tl-duration">2014 - 2018</p> <!-- 2014 ~ 2018大學 2018 ~ 2020碩士 2021/4開始工作 2021/7開始code -->
        <h5>Bachelor's Degree<span> - NTPU REBE</span></h5>
        <p>
          I majored in real estate & built environment dept. Learned knowledge about real estate development &
          management, the law
          of property, and real estate appraisal.
        </p>
      </div>
      <div class="timeline-item">
        <div class="tl-icon">
          <i class="fas fa-graduation-cap"></i>
        </div>
        <p class="tl-duration">2018 - 2020</p>
        <h5>Master's Degree<span> - NCCU Land Economy</span></h5>
        <p>
          During the journey toward a Master's degree, I started to do the research on the effect of high-tech
          industrial park on
          surrounding residential price by using the statistic method.
        </p>
      </div>
      <div class="timeline-item">
        <div class="tl-icon">
          <i class="fas fa-briefcase"></i>
        </div>
        <p class="tl-duration">2021/4 - present</p>
        <h5>Real estate management<span> - Mercuries life insurance</span></h5>
        <p>
          My primary work content in "MLI real estate dept." is:<br>
          (1.)To make sure the stable long-term profit of properties by leasing and corresponding to the regulation
          set by FSC.<br>
          (2.)Assigning the appraiser to evaluate the property assets at the appropriate value.<br>
          (3.)Assisting the project in selling the real estate belongs to the corporation.
        </p>
      </div>
      <div class="timeline-item">
        <div class="tl-icon">
          <i class="fab fa-node-js"></i>
        </div>
        <p class="tl-duration">2021/7 - present</p> <!-- 2014 ~ 2018大學 2018 ~ 2020碩士 2021/4開始工作 2021/7開始code -->
        <h5>learn to code<span> - By Myself</span></h5>
        <p>
          One day, after the all-day work, I thought about my value in the occupation career, and suddenly realized
          I'm "replaceable".<br>
          Since that day, I started chasing something irreplaceable skills. Then I found materialized the idea by
          coding has infinite possibilities.<br>
          Like so, I lighted up the joy and passion in the journey of learning to code.
        </p>
      </div>
    </div>
  </section>
</main>

<!-- 右側fixed button -->
<div class="controlls">
  <a href="/myprofile" class="control control-1" data-id="home">
    <i class="fas fa-home"></i>
  </a>
  <a href="/myprofile/aboutme" class="control control-2 active-btn" data-id="about">
    <i class="fas fa-user"></i>
  </a>
  <a href="/myprofile/portfolio" class="control control-3" data-id="portfolio">
    <i class="fas fa-briefcase"></i>
  </a>
  <a href="/myprofile/notes" class="control control-4" data-id="blogs">
    <i class="far fa-newspaper"></i>
  </a>
  <a href="/myprofile/contactme" class="control control-5" data-id="contact">
    <i class="fas fa-envelope-open"></i>
  </a>
</div>