<main>
  <section class="section sec3" id="portfolio">
    <div class="main-title">
      <h2>MY <span>PORTFOLIO</span></h2>
    </div>
    <p class="port-text">
      Here are some of my projects that I've practiced to learn programming languages.
    </p>
    <div class="portfolios">
      <div class="portfolio-item">
        <div class="image">
          <img src="/img/snow_boy.jpg" alt="todo list">
        </div>
        <div class="hover-items">
          <h3>My Profile</h3>
          <div class="icons">
            <a href="https://github.com/raindropcity/myprofile" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/img/react_picture.png" alt="learn react">
        </div>
        <div class="hover-items">
          <h3>Learn React</h3>
          <div class="icons">
            <a href="https://github.com/raindropcity/learn_react" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/img/todo_list.jpg" alt="todo list">
        </div>
        <div class="hover-items">
          <h3>Todo List</h3>
          <div class="icons">
            <a href="https://github.com/raindropcity/Todo-List" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/img/movie_list.jpg" alt="todo list">
        </div>
        <div class="hover-items">
          <h3>Movie List</h3>
          <div class="icons">
            <a href="https://github.com/raindropcity/movie_list" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- 右側fixed button -->
<div class="controlls">
  <a href="/myprofile" class="control control-1" data-id="home">
    <i class="fas fa-home"></i>
  </a>
  <a href="/myprofile/aboutme" class="control control-2" data-id="about">
    <i class="fas fa-user"></i>
  </a>
  <a href="/myprofile/portfolio" class="control control-3  active-btn" data-id="portfolio">
    <i class="fas fa-briefcase"></i>
  </a>
  <a href="/myprofile/notes" class="control control-4" data-id="blogs">
    <i class="far fa-newspaper"></i>
  </a>
  <a href="/myprofile/contactme" class="control control-5" data-id="contact">
    <i class="fas fa-envelope-open"></i>
  </a>
</div>